<div class="backgroundImage" [ngStyle]="{background: backgroundUrl}" *ngIf="!applicatonProcessing"></div>

<div class="container mt-5" *ngIf="applicatonProcessing">
    <div class="row">
        <div class="col-12 text-center">
            <mat-spinner color="accent"></mat-spinner>
        </div>
    </div>
</div>



<div class="container-fluid forecastContainer">
    <div class="row timeBlock" *ngFor="let dailyData of displayData">
        <div class="col-lg-3 col-md-4 col-sm-6 col-6 timeCard">
            <div class="row">
                <div class="col-4 text-right my-auto TimeText">{{getTime(dailyData.date)}}</div>
                <div class="col-8">
                    <div class="row"><div class="col-12 text-right">{{ dailyData.degree }} °C</div></div>
                    <div class="row"><div class="col-12 text-right">{{ dailyData.humidity*100 | number: '2.0-0' }}% HUM</div></div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="backButtonContainer">
  <button mat-raised-button (click)="navigateHome()">Go Home</button>
</div>
