.degreeBig {
    font-size: 6em;
}

.clockAndDate {
    font-size: 2em;
}
.cityAndCountry {
    font-size: 2em;
}

.shortDesc, .humidPercent, .windspeed {
    font-size: 1.5em;
}


.icon {
    width: 2em;
    height: 2.5em;

    background-repeat: no-repeat !important;
    background-size: contain !important;
    background-position: center !important;

    transition: 0.5s;
}

#humidityIcon {
    background: url('../../assets/weatherIcons/humidity.svg');
}
#windspeedIcon {
    background: url('../../assets/weatherIcons/windspeed.svg');
}






.sliderContainer {
    width: 100%;
    position: absolute;
    bottom: 4em;
}

mat-slider {
  margin-left: 10%;
  width: 80%;
}

::ng-deep .mat-slider-thumb {
  transform: scale(1.25) !important;
}
